name: Deployment Flow

on:
  workflow_dispatch:
    inputs:
      image:
        required: true
        type: string
  workflow_call:
    inputs:
      image:
        required: true
        type: string

jobs:
  deploy:
    name: Deploy to dev env
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Deploy to dev env
        run: |
          echo "${{ github.event.inputs.image }}"